/* This CSS document is to be used by report output from Java Programs */

body { 
				font-family:Calibri;
				font-size:16px;
				padding: 10px 20px 10px 20px;
}

pre{
				
				font-family:Calibri;
				font-size:16px;
}

table {
				background-color:#E6EEEB;
				margin: 20px 10px 20px 10px;
				padding: 10px 10px 10px 10px;
}

table td{
				border:1px solid black;
				margin:0px;
				padding: 10px 10px 10px 10px;				
}

table td pre {
				font-family:"Courier New", Courier, monospace;
				font-size: 12px;
				height:640px;
				width:560px;
				overflow:auto;
				
}

table.report th,table.report td{
               padding: 10px 30px 10px 20px;
               border:0;
}


div.result {
	   		    margin: 20px 20px 20px 20px;
}

div.cluster{
	width: 750px;
}


